#! /bin/bash
# Activate the virtual environment, run burstrender.py, and deactivate the virtual environment
# MODIFY THIS LINE TO POINT TO YOUR BURSTRENDER DIRECTORY (the directory containing burstrender.py)
. ~/github/burstrender/.venv/bin/activate
# MODIFY THIS LINE TO POINT TO YOUR BURSTRENDER DIRECTORY (the directory containing burstrender.py)
python3 ~/github/burstrender/burstrender.py $@
deactivate
